<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.net.zhaozhiwen.demo.persistence.dao.UserMapper" >
  <resultMap id="UserResultMap" type="cn.net.zhaozhiwen.demo.persistence.entites.User" >
       <id column="id" property="id" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="age" property="age" jdbcType="INTEGER" />
  </resultMap>
 
  
  <select id="findUserById" parameterType="java.lang.Integer" resultType="User">
		  select  id,user_name as username,password,age from user_t where id = #{id}
	</select>
  

</mapper>